
*,
*::after,
*::before {
  box-sizing: border-box;
}
*:focus {
  outline: 0;
}
div {
  line-height: 100%;
}

// variables
$background: #f2f2f2;
$fieldShadow: #d9d9d9;
$button: #6bd400;
$buttonShadow: #5cb204;
$colorWhite: #ffffff;
$colorBlack: #000000;
$placeholder: #9b9b9b;
$label: #515356;
$buttonActive: #335CFF;
$buttonActiveShadow: #1334BA;

#checkoutTab {
  padding: 50px 0;
  section {
    background-color: $background;
    box-shadow: none;
    padding: 0 5px;
    @media(max-width: 941px) {
      padding: 0 40px;
      max-width: 100%;
      width: 100%;
    }
    @media(max-width: 481px) {
      padding: 0 30px;
    }
    .left-column {
      max-width: 562px;
      width: 100%;
      @media(max-width: 941px) {
        max-width: 100%;
        display: flex;
        order: 2;
      }
      .form-wrapper {
        width: 100%;
        max-width: 100%;
        form {
          &#check_out_form {
            width: 100%;
            max-width: 100%;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-column-gap: 11px;
            grid-row-gap: 18px;
            @media(max-width: 481px) {
              grid-template-columns: 1fr;
            }
            span.legend {
              font-size: 14px;
              line-height: 21px;
              font-weight: 700;
              text-transform: uppercase;
              color: $colorBlack;
              display: block;
              padding: 0;
              position: relative;
              &:before {
                content: '';
                display: block;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                font-size: 14px;
                line-height: 21px;
                font-weight: 700;
                color: $colorWhite;
                background-color: $colorBlack;
                text-align: center;
                position: absolute;
                top: 0;
                left: -30px;
                @media(max-width: 481px) {
                  left: -25px;
                }
              }
              &.personal {
                &:before {
                  content: '1';
                }
              }
              &.payment {
                margin-top: 24px;
                &:before {
                  content: '2';
                }
                &:after {
                  content: url('../images/svg-icons/lock.svg');
                  display: inline-block;
                  width: 12px;
                  height: 21px;
                  position: relative;
                  margin-left: 12px;
                }
              }
            }
            .select, .textfield {
              background-color: $colorWhite;
              border-radius: 4px;
              box-shadow: 0px 2px 0px 0px $fieldShadow;
              label {
                font-size: 12px;
                line-height: 16px;
                font-weight: 700;
                color: $label;
                display: block;
              }
            }
            .select {
              padding: 8px 14px 8px 8px;
            }
            .legend {
              grid-column: 1 / -1;
              @media(max-width: 481px) {
                grid-column: 1/2;
              }
            }
            .textfield {
              padding: 8px 11px;
              &.email, &.phone, &.credit-card {
                grid-column: 1 / -1;
                @media(max-width: 481px) {
                  grid-column: 1/2;
                }
              }
              .input {
                font-size: 16px;
                line-height: 16px;
                display: block;
                input {
                  width: 100%;
                  max-width: 100%;
                  border: none;
                  font-size: 16px;
                  line-height: 16px;
                  color: $colorBlack;
                  padding: 0;
                  margin: 0;
                  display: block;
                  &::placeholder {
                    color: $placeholder;
                  }
                }
              }
              &.credit-card {
                position: relative;
                &:after {
                  content: url('../images/svg-icons/visa.svg');
                  display: block;
                  width: 28px;
                  height: 14px;
                  position: absolute;
                  top: calc(50% - 7px);
                  right: 19px;
                }
                &:before {
                  content: '';
                  display: block;
                  width: 40px;
                  height: 22px;
                  position: absolute;
                  top: calc(50% - 11px);
                  right: 12px;
                  border: 1px solid $fieldShadow;
                  border-radius: 6px;
                }
                #credit-card {
                  padding: 0 50px 0 0;
                }
              }
            }
            .button-submit {
              grid-column: 1 / -1;
              margin-top: 20px;
              @media(max-width: 481px) {
                grid-column: 1/2;
              }
              button {
                width: 100%;
                max-width: 100%;
                display: block;
                padding: 17px 10px;
                font-size: 16px;
                line-height: 16px;
                font-weight: 700;
                background-color: $button;
                border: 0;
                border-radius: 4px;
                box-shadow: 0px 2px 0px 0px $buttonShadow;
                text-transform: uppercase;
                color: $colorWhite;
                cursor: pointer;
                transition: background-color .3s linear, box-shadow .3s linear;
                &:before {
                  content: url('../images/svg-icons/shopping-cart.svg');
                  display: inline-block;
                  width: 12px;
                  height: 12px;
                  position: relative;
                  margin-right: 7px;
                }
                &:hover {
                  background-color: $buttonShadow;
                  box-shadow: 0px 2px 0px 0px $button;
                }
                &:focus {
                  background-color: $placeholder;
                  box-shadow: 0px 2px 0px 0px $label;
                }
                &:active {
                  background-color: $buttonActive;
                  box-shadow: 0px 2px 0px 0px $buttonActiveShadow;
                }
              }
            }
            select {
              &::-ms-expand {
                display: none; 
              } 
              -webkit-appearance: none;
              -moz-appearance: none;
              -ms-appearance: none;
              appearance: none;
              -webkit-user-select: none;
              -moz-user-select: none;
              border: 0;
              width: 100%;
              -webkit-padding-end: 0;
              -moz-padding-end: 0;
              -webkit-padding-start: 0;
              -moz-padding-start: 0;
              background-color: $colorWhite;
              background-image: url('../images/svg-icons/down-arrow.svg');
              background-position: top right;
              background-repeat: no-repeat;
              background-size: 12px 12px;
              font-size: 16px;
              line-height: 18px;
              color: $colorBlack;
              margin: 0 !important;
              padding: 0 !important;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }
          }
        }
      }
    }
    .right-column {
      max-width: 276px;
      width: 100%;
      margin: 39px 0 0 12px;
      @media(max-width: 941px) {
        max-width: 100%;
        margin: 0;
        display: flex;
        order: 1;
        margin-bottom: 40px;
      }
      .order-cart-wrapper {
        padding: 5px;
        background-color: $colorWhite;
        box-shadow: 0px 2px 0px 0px $fieldShadow;
        border-radius: 4px;
        @media(max-width: 941px) {
          width: 100%;
        }
        .order-cart {
          min-height: 244px;
          display: block;
          border-radius: 4px;
          border: 1px dashed $fieldShadow;
          padding: 16px 13px 37px;
          .basket-title {
            font-size: 14px;
            line-height: 14px;
            font-weight: 700;
            color: $colorBlack;
            text-transform: uppercase;
            margin-bottom: 20px;
          }
          .product-wrapper, .total-purchases, .tax, .total-cost {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
            font-size: 14px;
            line-height: 17px;
            font-weight: 500;
            color: $colorBlack;
            text-transform: capitalize;
          }
          .product-wrapper {
            margin-bottom: 13px;
            &:last-child {
              padding-bottom: 26px;
              border-bottom: 1px dashed $fieldShadow;
            }
            .product-name {
              max-width: 158px;
              width: 100%;
              padding-right: 10px;
              text-align: left;
            }
            .product-price {
              max-width: 80px;
              width: 100%;
              text-align: right;
            }
          }
          .cost {
            .total-purchases {
              margin-bottom: 16px;
              .total-purchases-text {
                max-width: 158px;
                width: 100%;
                padding-right: 10px;
                text-align: left;
              }
              .total-purchases-price {
                max-width: 80px;
                width: 100%;
                text-align: right;
              }
            }
            .tax {
              margin-bottom: 14px;
              padding-bottom: 16px;
              border-bottom: 1px dashed $fieldShadow;
              .tax-text {
                max-width: 158px;
                width: 100%;
                padding-right: 10px;
                text-align: left;
              }
              .tax-price {
                max-width: 80px;
                width: 100%;
                text-align: right;
              }
            }
          }
          .total-cost {
            .total-text {
              font-weight: 700;
              max-width: 70px;
              width: 100%;
              padding-right: 10px;
              text-align: left;
            }
            .total-price {
              font-size: 28px;
              line-height: 28px;
              font-weight: 700;
              max-width: 168px;
              width: 100%;
              text-align: right;
            }
          }
        }
      }
    }
  }
}